@model NewPizzaVM
@using PizzaBuilder.Data.Enums
@using PizzaBuilder.Data.ViewModels;

@{
    ViewData["Title"] = "Customize your pizza";
}

<div class="row">
    <div class="col-md-12">
        <p>
            <h4>Customize your pizza</h4>
        </p>

        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/Pizzas/build-your-own.jpg" width="100%" height="100%" alt="Build your own" />
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>

<div class="row">

</div>

