@model NewPizzaVM
@using PizzaBuilder.Data.Enums
@using PizzaBuilder.Data.ViewModels;

@{
    ViewData["Title"] = "Customize your pizza";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Customize your pizza</h4>
        </p>
    </div>
</div>

