@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="category-header">
        <h1>Pizza</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
        <button class="menuItem" onclick="location.href='@Url.Action("Create", "Pizza")'">
            <div class="row">
                <div class="col-md-8">
                    <span class="menuItemName float-start">Build Your Own</span>
                    <p class="menuItemDesc float-start">Choose size, choice of crust style, and your favorite toppings</p>
                </div>
                <div class="col-md-4 align-items-center justify-content-center" style="display:flex; padding-right:8px;">
                    <img src="~/Images/Pizzas/build-your-own.jpg" width="100%" height="105%" alt="Build your own" />
                </div>
            </div>

        </button>
    </div>
</div>
